<div class="row">

    <!-- inicio de seccion de carta  -->
    <div *ngFor="let gif of gifs" class="col-md-3 col-sm-6 pt-4" >

        <!-- area de tarjetas -->
        <div class=" card mb-2 bg-dark text-center">
          <!-- crear imagen -->
<shared-lazyimage
[url]="gif.images.downsized_medium.url"
></shared-lazyimage>


          <!-- <img
          [src]="gif.images.downsized_medium.url"
          [alt]="gif.title"
          class="card-img-top"
          > -->
          <div class="card-body text-white">
              <p class="card-text">
                {{gif.title}}
              </p>
          </div>
        </div>


    </div>





</div>
